<nav id="navbar-example3" class="navbar navbar-light navprop">
  <nav class="nav nav-pills flex-column">
    <p>Relationship</p>
    
    <h5 class="navbar-brand"><i class="fa fa-chevron-left"></i>National Bank <i class="fa fa-chevron-down"></i> </h5>
  </nav>
 
  
  <nav class="nav nav-pills flex-column">
  
    <a class="nav-link" href="#">Overview</a>  
    <a class="nav-link" href="#">Document Family</a>
    <a class="nav-link active" href="#">Timeline</a>
    <a class="nav-link" href="#">Document</a>
    <a class="nav-link" href="#">Alert</a>
  </nav>
  <div class="border-line"></div>
  <nav class="nav nav-pills flex-column">
  
    <a class="nav-link font-weight-bold" href="#">Solutions</a>  
    <a class="nav-link" href="#">Account Research & Regeneration</a>
    <a class="nav-link" href="#">Billing Accuracy</a>
  </nav>
</nav>
